@charset "utf-8";
/* CSS Document */

ul{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

li{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	padding: 50px;
	font-size: 24pt;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	display: inline-block;
	color: black;
	
}

a:hover{
	color:gray;
}

h1{
	text-align: center;
}

nav{
	background-color: #ACE6EC;
	width: 100%;
}

header{
	margin-top: 80px;
}

h1{
	font-size: 36pt;
	font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
	}
#walton{
	position: fixed;
	left: 16px;
	bottom: 8px;
	width: 20%;
}

#nursingdepart{
	position: fixed;
	left: 480px;
	bottom: 8px;
	height: 118px;
	width: auto;
	
}

#setu{
	position: fixed;
	left: 680px;
	bottom: 8px;
	height: 118px;
	width: 221px;
}
body{
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	font-size: 14pt;
}

#welcometext{
	margin-left: 250px;
	margin-right: 250px;
}

#nurses {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 249.3px;
	width: 337.6px;
}