@charset "utf-8";
/* CSS Document */

ul{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}

li{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	padding: 50px;
	font-size: 24pt;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	display: inline-block;
	color: black;
	
}

a:hover{
	color:gray;
}

h1{
	text-align: center;
}

nav{
	background-color: #ACE6EC;
}

header{
	margin-top: 80px;
}

h1{
	font-size: 36pt;
	}
#logo{
	position: absolute;
	left: 16px;
	bottom: 8px;
	height: 15%;
}

body{
	text-align: center;
}